---
name: Build Docker image

permissions: read-all

on: pull_request

jobs:
  docker:
    name: Build Docker image
    runs-on: ubuntu-24.04
    steps:
      - name: Check out source code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata action
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            toolbox-local
          tags: |
            type=raw,latest

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=docker,dest=/tmp/toolbox-local.tar
          platforms: linux/amd64
          push: false
          tags: ${{ steps.meta.outputs.tags }}
      
      - name: Run Docker image
        run: |
          docker load --input /tmp/toolbox-local.tar
          docker run --name toolbox toolbox-local:latest

  auto-merge:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-24.04
    needs: docker
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Auto-merge
        # if: |
        #   steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }} 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
